* {
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  background-image: url("../images/unsplash-nasa-space.jpg");
  margin: 0;
  color: white;
}

main {
  padding: 10vh;
}

h1 {
  padding: 5vh;
  transition: all 1s ease-out;
  font-size: 5rem;
}

p {
  font-size: 5rem;
  line-height: 1.5;
  margin: 0 auto;
  transition: all 0.6s ease-out;
}

span {
  font-size: 1.3rem;
}

.col {
  transition: all 0.3s ease-out;
}

h1:hover, .col:hover {
  color: rgba(25, 181, 254, 1);

}

h1:hover, p:hover {
  text-shadow:
    2px 2px 5px #fff,  /* inner white */
    2px 2px 4px #0ff; /* outer cyan */
}